.cart{
  margin:0px;
  position:fixed;
  top:70px;
  height: 100vh;
  right:0;
  background-color:rgb(255, 255, 255);
  border:1px solid rgb(177, 103, 103);
  min-height:50vh;
  width: 500px;
}
.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #232bcc;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #232bcc;
  border-color: #232bcc;
  color: white;
}

.actions .button--alt {
  color: #232bcc;
}

.actions .button {
  background-color: #232bcc;
  color: white;
}
